/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.search-bar {
  display: flex;
  padding: 10px;
  background: #f4f4f4; }
  .search-bar .input-wrap {
    flex: 1;
    position: relative;
    border-radius: 3px;
    background: #fff;
    padding: 8px 12px 8px 35px; }
  .search-bar input {
    flex: 1;
    outline: 0;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    display: block;
    -webkit-appearance: none;
    font-size: 14px; }
  .search-bar ::-webkit-input-placeholder {
    color: #ccc; }
  .search-bar .icon-search {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    z-index: 999;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJlSURBVFhH7ZfRShRRHMb3Jkqzm7wJSrqIIDBxX6C0a62H6C7oqq4ixYreQMmMHkXbjLQeIYgyQuqiyIuotKDt923fyLCszv/MzF5EDnzs2T3/7zffOXNm5myjcXDUOAOtVquJ7qOn6AP6ZamtQ33NGk/ZG8VJJtEaagf1XJ7agwEdRI9zIT7RnkdT6Iz7VaO2flPf51z9I9oDtQQDNIxeGv6Nz9voaBFcNa79bu8LsYp8+/Z75FmYN3w/nwqUB204lFiDqYzd+txlek37RFkQ3pNIjDZaKsXBeMkATfloKUjOBGMMifUbXUzmYVp3oFvJ5j0M8GbNXEtiYtJzRtOru6lwAUfhsIZQdveNR30NTPccaD5sChbCXTD7btDSUCAdmqGpsClYCHPa7CdBSyeQXgEKNBI2BQthnjX7Y9DSCfTTpkNhU7AQ7jGzd4KWvgc67EDbKYH6eclOO9BmSqBsUU+HTcFCwJcdaCVo6Vyy7LZfCJuChbAfONCdoKUTKHsw6iE2FDYWFIqFthxoLImLSZsr3fqzScZ9isUyczWZiXEC6UWoF2LaaHqcDcY4+mHmheRAMmBe8oje8nmqFOQvZwS9N2uxLEcgbUuzDdpGmZnyzLxzGG3yqm1lARxH2VZEUz6DChc6NXoia83I087pRukZyozAjqCHvv6Cf0GL6Ao655MrgNr6TX1bDqF1qO/Xcv7qobymJoA+6xpxfvTd7VVqdxcw7au1h3IwbUfn0DJ6hb6ibbSJVtzX8w9B30JVWQf/QqibVQZYm7drpg5C7TmzuZnSI6JZ2yWoAnKo61UY/5f3Dy7dC4CdAEhQAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -999px; }

.search-results .song-item {
  text-decoration: none;
  position: relative;
  height: 55px;
  padding-left: 56px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ddd; }

.search-results .song-name {
  margin: 10px 0 2px;
  line-height: 18px;
  font-size: 16px;
  font-weight: normal;
  color: #000; }

.search-results .song-artist {
  color: #808080;
  font-size: 12px; }

.search-results .icon-music {
  top: 18px;
  left: 18px;
  width: 22px;
  height: 20px;
  position: absolute;
  background-position: 0 0;
  background-size: 22px 30px;
  background-repeat: no-repeat;
  background-image: url(../images/search.png); }

.search-loading {
  height: 55px;
  text-align: center;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center; }
  .search-loading.show {
    display: flex; }
  .search-loading .loading-icon {
    top: -2px;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px 20px;
    background-image: url("../images/icon_loading.png");
    animation: loading 1s infinite; }
  .search-loading .loading-text {
    margin-left: 5px; }
  .search-loading .loading-done, .search-loading .loading-text {
    color: #808080;
    font-size: 12px; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  8.32% {
    transform: rotate(0deg); }
  8.33% {
    transform: rotate(30deg); }
  16.65% {
    transform: rotate(30deg); }
  16.66% {
    transform: rotate(60deg); }
  24.99% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.32% {
    transform: rotate(90deg); }
  33.33% {
    transform: rotate(120deg); }
  41.65% {
    transform: rotate(120deg); }
  41.66% {
    transform: rotate(150deg); }
  49.99% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.32% {
    transform: rotate(180deg); }
  58.33% {
    transform: rotate(210deg); }
  66.65% {
    transform: rotate(210deg); }
  66.66% {
    transform: rotate(240deg); }
  74.99% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.32% {
    transform: rotate(270deg); }
  83.33% {
    transform: rotate(300deg); }
  91.65% {
    transform: rotate(300deg); }
  91.66% {
    transform: rotate(330deg); }
  99.99% {
    transform: rotate(330deg); } }

.rank-view .mod_topic {
  margin: 10px;
  padding-bottom: 55px; }
  .rank-view .mod_topic li {
    margin-bottom: 10px;
    overflow: hidden; }
    .rank-view .mod_topic li .topic_main {
      display: -webkit-box;
      background: #fff; }
      .rank-view .mod_topic li .topic_main .topic_media {
        position: relative;
        width: 100px;
        height: 100px;
        display: block; }
        .rank-view .mod_topic li .topic_main .topic_media img {
          display: block;
          width: 100px;
          height: 100px; }
        .rank-view .mod_topic li .topic_main .topic_media .listen_count {
          left: 5px;
          bottom: 7px;
          line-height: 12px;
          color: #fff;
          opacity: .6;
          font-size: 9px;
          z-index: 10;
          position: absolute;
          display: block; }
          .rank-view .mod_topic li .topic_main .topic_media .listen_count .icon_listen {
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            background-position: 0 -50px;
            margin-top: 2px;
            margin-right: 3px;
            background-image: url(/images/list_sprite.png);
            background-repeat: no-repeat;
            background-size: 24px 60px;
            z-index: 10; }
      .rank-view .mod_topic li .topic_main .topic_info {
        position: relative;
        -webkit-box-flex: 1;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center; }
        .rank-view .mod_topic li .topic_main .topic_info .topic_cont {
          -webkit-box-flex: 1;
          margin: 0 10px 0 15px; }
          .rank-view .mod_topic li .topic_main .topic_info .topic_cont .topic_tit {
            font-size: 16px;
            color: #000;
            font-weight: 400;
            margin-bottom: 5px;
            white-space: nowrap; }
          .rank-view .mod_topic li .topic_main .topic_info .topic_cont p {
            font-size: 14px;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
            .rank-view .mod_topic li .topic_main .topic_info .topic_cont p .text_name {
              color: #000;
              margin-left: 8px;
              margin-right: 5px; }
        .rank-view .mod_topic li .topic_main .topic_info .topic_arrow {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -4px;
          width: 6px;
          height: 6px;
          border-right: 1px solid #b2b2b2;
          border-bottom: 1px solid #b2b2b2;
          transform: rotate(-45deg); }

.radios, .hotMusic {
  margin: 14px 0px 11px 10px; }
  .radios .title, .hotMusic .title {
    color: #000;
    font-size: 16px;
    margin-bottom: 11px;
    font-weight: 400; }
  .radios .radios_list, .hotMusic .radios_list {
    display: flex;
    flex-wrap: wrap; }
    .radios .radios_list .list_main, .hotMusic .radios_list .list_main {
      flex: 1;
      flex-basis: 40%;
      -webkit-box-sizing: border-box;
      margin-right: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      background-color: white; }
      .radios .radios_list .list_main .list_media, .hotMusic .radios_list .list_main .list_media {
        position: relative;
        margin-bottom: 5px; }
        .radios .radios_list .list_main .list_media img, .hotMusic .radios_list .list_main .list_media img {
          display: block;
          width: 100%; }
        .radios .radios_list .list_main .list_media .listen_count, .hotMusic .radios_list .list_main .list_media .listen_count {
          left: 5px;
          bottom: 7px;
          display: block;
          position: absolute;
          z-index: 10;
          line-height: 12px;
          color: #fff;
          font-size: 12px; }
          .radios .radios_list .list_main .list_media .listen_count .icon_listen, .hotMusic .radios_list .list_main .list_media .listen_count .icon_listen {
            background-image: url(../images/list_sprite.png);
            background-repeat: no-repeat;
            background-size: 24px 60px;
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            background-position: 0 -50px;
            margin-right: 5px;
            margin-top: 2px; }
        .radios .radios_list .list_main .list_media .icon_play, .hotMusic .radios_list .list_main .list_media .icon_play {
          background-image: url(../images/list_sprite.png);
          background-repeat: no-repeat;
          background-size: 24px 60px;
          height: 24px;
          bottom: 5px;
          right: 5px;
          width: 24px;
          background-position: 0 0;
          position: absolute;
          display: block;
          z-index: 10; }
      .radios .radios_list .list_main .list_info, .hotMusic .radios_list .list_main .list_info {
        padding: 0 7px 5px;
        color: #000;
        font-weight: 400;
        line-height: 1.5; }
        .radios .radios_list .list_main .list_info .list_tit, .hotMusic .radios_list .list_main .list_info .list_tit {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px; }
        .radios .radios_list .list_main .list_info .list_text, .hotMusic .radios_list .list_main .list_info .list_text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px; }

* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header {
  padding-top: 80px; }
  #header .top_box__bd {
    background-color: white;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
    padding: 0 10px;
    z-index: 1; }
    #header .top_box__bd h1 {
      display: none; }
    #header .top_box__bd .logo {
      display: block;
      height: 35px; }
    #header .top_box__bd a {
      display: block;
      min-width: 40px;
      height: 25px;
      line-height: 25px;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;
      color: #000;
      border: solid 1px rgba(0, 0, 0, 0.3);
      border-radius: 25px;
      text-decoration: none; }
    #header .top_box__bd .show-player {
      height: 28px;
      padding: 0 12px;
      line-height: 28px;
      border-radius: 99px;
      font-size: 14px;
      background: #149c5a;
      color: #fff; }

#slider .swiper-container img {
  width: 100%; }

#slider .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background: white; }

#navbar {
  display: -webkit-box;
  background-color: white; }
  #navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    -webkit-box-flex: 1;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    cursor: pointer; }
  #navbar a.current {
    color: #31c27c; }
  #navbar a.current:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #31c27c; }

.hide {
  display: none; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

#player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%); }
  #player.show {
    opacity: 1;
    transform: translateY(0); }
  #player .player-container {
    z-index: 9;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6); }
  #player .player-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    filter: blur(15px);
    transform: scale(1.15); }
  #player .player-header {
    display: flex;
    padding: 15px;
    align-items: center;
    background: rgba(0, 0, 0, 0.1); }
    #player .player-header .icon-action {
      width: 44px;
      height: 44px;
      border: solid 1px #fff;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);
      opacity: .6;
      margin-right: 10px;
      background-image: url(../images/sprite_play.png);
      background-repeat: no-repeat;
      background-size: 40px 380px; }
    #player .player-header .icon-play {
      background-position: 15px -153px; }
    #player .player-header .icon-pause {
      background-position: 17px -183px; }
    #player .player-header .album-cover {
      width: 80px;
      height: 80px;
      display: block;
      margin-right: 15px; }
    #player .player-header .song-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: calc(100% - 150px); }
    #player .player-header .song-name {
      height: 30px;
      font-size: 18px;
      font-weight: normal;
      color: #fff; }
    #player .player-header .song-artist {
      height: 21px;
      font-size: 14px;
      color: #fff; }
  #player .player-lyrics {
    flex: 1;
    overflow: hidden;
    margin: 36px 0 60px 0;
    color: rgba(255, 255, 255, 0.6);
    max-height: calc(100% - 205px); }
    #player .player-lyrics .player-lyrics-lines {
      overflow: hidden;
      transition: .5s; }
    #player .player-lyrics [class^='player-lyrics-line-'] {
      height: 42px;
      line-height: 42px;
      overflow: hidden;
      padding: 0 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      text-align: center; }
    #player .player-lyrics .active {
      color: #31c27c; }
  #player .player-footer {
    position: relative; }
    #player .player-footer .icon-list {
      width: 40px;
      height: 40px;
      right: 13px;
      top: -40px;
      position: absolute;
      background-image: url(../images/sprite_play.png);
      background-repeat: no-repeat;
      background-size: 40px 380px;
      background-position: 8px -250px; }
    #player .player-footer .progress {
      display: flex;
      align-items: center; }
    #player .player-footer .progress-bar {
      flex: 1;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.2); }
      #player .player-footer .progress-bar .progress-bar-progress {
        width: 100%;
        height: 2px;
        transform: translateX(-100%);
        background: #31c27c; }
    #player .player-footer .progress-time {
      top: 0;
      z-index: 1;
      width: 55px;
      font-size: 12px;
      color: #808080;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px; }
    #player .player-footer .actions {
      height: 65px;
      margin-top: 10px; }
    #player .player-footer .btn-download {
      position: relative;
      display: block;
      height: 45px;
      text-decoration: none;
      line-height: 45px;
      margin: 0 50px;
      padding: 0 55px;
      overflow: hidden;
      white-space: nowrap;
      font-size: 20px;
      color: #fff;
      border-radius: 999px;
      background-color: #31c27c;
      text-align: center;
      background-image: url(../images/sprite_play.png);
      background-repeat: no-repeat;
      background-size: 43px 380px;
      background-position: 6px -321px; }

body {
  background: #f4f4f4;
  font-family: FZLTXIHJW--GB1-0, "hiragino sans gb", "Helvetica Neue", Helvetica, STHeiTi, Arial; }
  body .wrap {
    width: 100%;
    overflow: hidden; }
