.radios, .hotMusic{
    margin: 14px 0px 11px 10px;
    .title{
        color: #000;
        font-size: 16px;
        margin-bottom: 11px;
        font-weight: 400;
    }
    .radios_list{
        display: flex;
        flex-wrap: wrap;
        .list_main{
            flex: 1;
            flex-basis: 40%;
            -webkit-box-sizing: border-box;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            background-color: white;
            .list_media{
                position: relative;
                margin-bottom: 5px;
                img{
                    display: block;
                    width: 100%;
                }
                .listen_count {
                    left: 5px;
                    bottom: 7px;
                    display: block;
                    position: absolute;
                    z-index: 10;
                    line-height: 12px;
                    color: #fff;
                    font-size: 12px;
                    .icon_listen {
                        background-image: url(../images/list_sprite.png);
                        background-repeat: no-repeat;
                        background-size: 24px 60px;
                        display: block;
                        float: left;
                        width: 10px;
                        height: 10px;
                        background-position: 0 -50px;
                        margin-right: 5px;
                        margin-top: 2px;
                    }
                }
                .icon_play {
                    background-image: url(../images/list_sprite.png);
                    background-repeat: no-repeat;
                    background-size: 24px 60px;
                    height: 24px;
                    bottom: 5px;
                    right: 5px;
                    width: 24px;
                    background-position: 0 0;
                    position: absolute;
                    display: block;
                    z-index: 10;
                }
            }
            .list_info {
                padding: 0 7px 5px;
                color: #000;
                font-weight: 400;
                line-height: 1.5;
                .list_tit {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    
                }
                .list_text{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                }
            }
        }
    }
}