@import "var";
@import "reset";
@import "header";
@import "slider";
@import "navbar";
@import "helper";
@import "rec";

body {
    background: $body-background;
    .wrap{
        width: 100%;
        overflow: hidden;
    }
}